<div class="container-fluid mx-auto" style="height: 5vh; background-color:rgba(0, 0, 0, 0.9);">

    <div class="row h-100 justify-content-center align-items-center text-center">

        <div class="col">
            <h6 class="text-muted" style="font-size: 1vw;">Copyright © 2021 Howard Lee. All rights reserved.
            </h6>
        </div>
    </div>
</div>