<nav class="navbar sticky-top" style="background-color: rgba(0, 0, 0, 0.7);">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Logo</a>

        <div class="text-end"></div>

        <% if ( user ) { %>


        <div class="btn-group">

            <a class="btn btn-link" href="/users/dashboard" style="text-decoration: none;"><i
                    class="fas fa-user-circle"></i>
                <%= `${user.display_name}` %> </a>

            <button class="btn btn-link" role="button" id="nav-wallet" style="text-decoration: none;">Wallet</button>
            <button type="button" class="btn btn-link dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"
                aria-expanded="false">
            </button>
            <ul class="dropdown-menu">
                <li class="dropdown-item">

                    <h6 class="text-muted">
                        <i class="fas fa-dollar-sign fs-5"></i> USD
                    </h6>

                    <h5>
                        $<%= twoDecimal(user.wallet.cash_balance["$numberDecimal"]) %>
                    </h5>

                </li>

                <li class="dropdown-item">

                    <h6 class="text-muted"><i class="fab fa-bitcoin fs-5"></i> BTC
                        <h5><%= twoDecimal(user.wallet.bitcoin_balance["$numberDecimal"]) %></h5>
                    </h6>

                </li>

                <li class="dropdown-item">

                    <h6 class="text-muted"><i class="fab fa-ethereum fs-5"></i> ETH
                        <h5><%= twoDecimal(user.wallet.ethereum_balance["$numberDecimal"]) %></h5>
                    </h6>
                </li>
            </ul>

            <a class="btn btn-link" href="/marketplace" style="text-decoration: none;"><i class="fas fa-store"></i>
                Marketplace</a>

            <form action="/users/signout" method="POST">
                <button class="btn btn-outline-danger" type="submit"><i class="fas fa-sign-out-alt"></i>Sign
                    Out</button>
            </form>
        </div>

        <%  }  else { %>

        <div class="btn-group">

            <a class="btn btn-link" href="/marketplace" style="text-decoration: none;"><i class="fas fa-store"></i>
                Market Place</a>
            <a class="btn btn-link" href="/users/signin" style="text-decoration: none;"><i class="fas fa-user"></i>
                Sign In</a>
            <a class="btn btn-outline-danger" href="/guests/signup" role="button">Sign Up</a>
            <% } %>
        </div>

    </div>
</nav>

<script>
    const navWallet = document.querySelector('#nav-wallet')

    window.onload = (event) => {

        event.preventDefault()

        navWallet.onclick = () => {

            let currentPath = location.pathname

            const addFundTab = document.querySelector('#wallet-tab')

            const tab = new bootstrap.Tab(addFundTab)

            if (location.pathname !== "/users/dashboard") {

                location.href = "/users/dashboard"

                tab.show()

            } else {

                tab.show()

            }
        }
    }
</script>

<% function twoDecimal(val) {

    let valFloat = parseFloat(val)

    return valFloat.toLocaleString('en-US', {maximumFractionDigits:2})

}
%>