<div class="row d-flex d-grid gap-3 justify-content-between mt-3">

    <div class="container-fluid col-6 mt-3">

        <div class="col-4">
            <h1>test</h1>
        </div>

        <div class="col-4">
            <h1>test</h1>
        </div>

        <div class="col-4">
            <h1>test</h1>
        </div>

    </div>
</div>